<div id="{{ id }}" class="qqmain" style="margin-top: 1em">
    {{{ text }}}<br />
    {{#each answers}}
    <div id="{{ id }}" class="distractor {{#if correct}}correct{{else}}wrong{{/if}}" style="display: {{#if hidden}}none{{else}}block{{/if}};" data-enables="{{ enables }}">
        {{{ text }}}<br />
        <div class="response">{{{ response }}}</div>
    </div>
    {{/each}}
</div>
<script>
    for (var element of document.getElementById("{{ id }}").getElementsByClassName("distractor")) {
        element.addEventListener("click", function (event) {
            if (event.target.getAttribute("enables") !== null) {
                document.getElementById(event.target.getAttribute("enables")).style.display = "block";
            }
        });
    }
</script>